p {
  font-size: 60px;
  color: var(--primary-color);
  transition: 500ms;
  font-weight: bolder;
  font-family: var(--primary-font);
}

h1.logo {
  color: var(--primary-color);
  font-weight: bolder;
  font-size: 60px;
  transition: 500ms;
  font-family: var(--primary-font);
}

h1.logo:hover {
  font-size: 80px;
}

h2.logo {
  color: aliceblue;
  font-size: 30px;
  transition: 500ms;
  font-family: var(--secondary-font);
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
