input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 4px;
  border-top: none;
  border-left: none;
  border-right: none;
  background: none;
  width: 300px;
}

.primary-input {
  border-bottom: 3px solid rgb(253, 252, 252);
  transition: 500ms;
}

.primary-input:hover {
  border-bottom: 4px solid var(--primary-color);
}

.primary-input:focus {
  border-bottom: 6px solid var(--primary-color);
  outline-width: 0;
}

.secondary-input {
  border-bottom: 3px solid rgb(151, 152, 153);
  transition: 500ms;
  color: aliceblue;
}

.secondary-input:hover {
  border-bottom: 3px solid var(--primary-color);
}

.secondary-input:focus {
  border-bottom: 3px solid var(--primary-color);
  outline-width: 0;
}

::placeholder {
  color: rgb(151, 152, 153);
}
