.my-nav-bar {
  background-color: transparent;
}


.Q {
  font-family: var(--primary-font);
  color: var(--primary-color);
}

.Me {
  font-family: var(--primary-font);
  color: var(--secondary-color);
}