h1 {
  font-size: 50px;
  color: var(--primary-color);
  transition: 500ms;
  font-weight: bolder;
}

h1:hover {
  font-size: 70px;
}

h2 {
  color: var(--secondary-color);
  transition: 500ms;
  font-weight: bolder;
}

h2:hover {
}
