p {
  font-size: 60px;
  color: var(--primary-color);
  transition: 500ms;
  font-weight: bolder;
  font-family: var(--primary-font);
}


/* h1:hover {
  font-size: 70px;
} */

h2.logo {
  color: aliceblue;
  opacity: 80%;
  transition: 500ms;
  font-family: var(--secondary-font);
}

.primaryColor {
  color: var(--primary-color);
}

.secondaryColor {
  color: var(--secondary-color);
}

a.logo:link {
  text-decoration: none;
}

a.logo:visited {
  text-decoration: none;
}

a.logo:hover {
  text-decoration: none;  
}

a.logo:active {
  text-decoration: none; 
}

/* h2:hover {
} */
